In [1]:
import pandas as pd

In [2]:
import os

In [3]:
LOCAL_TEST_PATH="D:\Juan\Documents\Documentos personales"
OUTPUT_PATH="D:\Juan\Documents\Documentos personales/test_ms"

In [4]:
os.getcwd()

'c:\\Users\\Juantc93\\DEV\\ms_ocl_tec_test\\app'

In [5]:
#CREATE A STUB TEST_FILE
df=pd.read_csv(os.path.join(LOCAL_TEST_PATH,"GlobalLandTemperaturesByCity.csv"))

In [6]:
df["Country"].unique()[:5]

array(['Denmark', 'Turkey', 'Kazakhstan', 'China', 'Spain'], dtype=object)

In [7]:
df[df["Country"].isin(list(df["Country"].unique()[0:3]))].to_csv("GlobalLandTemperaturesByCity.csv")

In [8]:
df=pd.read_csv(os.path.join(LOCAL_TEST_PATH,"GlobalLandTemperaturesByCity.csv"))
df["Longitude"]=pd.util.hash_pandas_object(df["Longitude"])
df["Latitude"]=pd.util.hash_pandas_object(df["Latitude"])
for country in df["Country"].unique()[:5]:
    df[df["Country"]==country].to_csv(os.path.join(OUTPUT_PATH,"{}.csv".format(country)),encoding='utf-8')

In [9]:
for country in df["Country"].unique()[:5]:
    df[df["Country"]==country].to_csv(os.path.join(OUTPUT_PATH,"{}.csv".format(country)),encoding='utf-8')

In [10]:
df.head()

,dt,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude
0,1743-11-01,6.068,1.737,Århus,Denmark,16667472592503444866,6883408902910282862
1,1743-12-01,NaN,NaN,Århus,Denmark,10310403493709777791,9855574583992014003
2,1744-01-01,NaN,NaN,Århus,Denmark,7328390639066338632,12516608197741948212
3,1744-02-01,NaN,NaN,Århus,Denmark,2213453186679766706,15185078339941823166
4,1744-03-01,NaN,NaN,Århus,Denmark,6329450443265566478,14273491165682350818

In [11]:
os.scandir()

In [12]:
import base64
import json

In [13]:
str_petition='{"body": "GlobalLandTemperaturesByCity.csv"}'

In [14]:
str_petition_64=base64.b64encode(str_petition.encode('ascii'))

In [15]:
str_petition_64.decode('ascii')

'eyJib2R5IjogIkdsb2JhbExhbmRUZW1wZXJhdHVyZXNCeUNpdHkuY3N2In0='

In [16]:
json.loads(base64.b64decode(str_petition_64))["body"]

'GlobalLandTemperaturesByCity.csv'

In [17]:
base64.b64decode('R2xvYmFsTGFuZFRlbXBlcmF0dXJlc0J5Q2l0eS5jc3Y=')

b'GlobalLandTemperaturesByCity.csv'